form(
  ng-if='!!formly.model' 
  ng-submit='formly.onSubmit(formly.form, formly.options)', 
  novalidate=''
)
  formly-form(
    model='formly.model'
    fields='formly.fields'
    form='formly.form'
    options='formly.options'
  )
  .btn-group
  button.btn.btn-primary(type='submit' ng-disabled="formly.form.$invalid") Guardar
  //- | &nbsp;
  //- button.btn.btn-danger(type="button" ng-if="editMode" ng-click="formly.onDelete(formly.form)") Eliminar
//- 
//- //- Debug info
//- form()
//-   caption Debugging::::::::
//-   label
//-     input(type='radio', ng-model='debug.panel', value='model')
//-     | Model
//-   label
//-     input(type='radio', ng-model='debug.panel', value='fields')
//-     | Fields
//-   label
//-     input(type='radio', ng-model='debug.panel', value='form')
//-     | Form
//- 
//- pre(ng-if="debug.panel==='fields'") {{ formly.fields | json }}
//- pre(ng-if="debug.panel==='model'") {{ formly.model | json }}
//- pre(ng-if="debug.panel==='form'") {{ formly.form | json }}
